alembic==1.13.2
Flask==3.0.3
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
email_validator==2.2.0
gunicorn==21.2.0
numpy>=2.1.0
openpyxl==3.1.5
pandas>=2.2.3
pillow==10.4.0
psycopg2-binary>=2.9.10
python-dotenv==1.0.1
pytz==2024.1
reportlab==4.2.2
SQLAlchemy==2.0.31
Werkzeug==3.0.3
